{% extends "socle/base.jinja" %} 

{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_ajout.css') }}">
{% endblock extra_styles %}

{% block content %}
    <h1>Créer un film</h1>
    <form action="{{ url_for('create_film') }}" method="post" enctype="multipart/form-data">
        <label for="image">Image :</label>
        <input type="file" id="image" name="image"><br>

        <br>
        
        <label for="titre">Titre :</label>
        <input type="text" id="titre" name="titre"><br>

        <label for="description">Description :</label>
        <textarea id="description" name="description"></textarea><br>

        <label for="annee">Année (en chiffre) :</label>
        <input type="text" id="annee" name="annee"><br>

        <label for="acteurs">Acteurs :</label>
        <input type="text" id="acteurs" name="acteurs"><br>

        <label for="realisation">Réalisateur / Producteur :</label>
        <input type="text" id="realisation" name="realisation"><br>

        <button type="submit">Créer</button>
        <a href="{{ url_for('index') }}"><button type="button">Annuler</button></a>
    </form>
{% endblock content %}
